<div fxLayout="row" fxLayoutAlign="space-between center" style="
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #eaeaea;
  ">
  <h2 style="margin: 0; color: #2c3e50; font-weight: 600">Sub Category List</h2>
  <button pButton type="button" label="Add" icon="pi pi-plus" class="p-button-rounded p-button-success"
    (click)="openAddModal()"></button>
</div>

<div class="card">
  <p-table [value]="subcategories" #dt2 dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
    [paginator]="true" [globalFilterFields]="['CategoryName', 'Name', 'Code']">
    <!-- CAPTION -->
    <ng-template pTemplate="caption">
      <app-table-caption [table]="dt2"></app-table-caption>
    </ng-template>

    <ng-template #header>
      <tr>
        <th>Category Name</th>
        <th>Subcategory Name</th>
        <th>Code</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-subcategory>
      <tr>
        <td>{{ subcategory?.Category?.Name }}</td>
        <td>{{ subcategory?.Name }}</td>
        <td>{{ subcategory?.Code }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-success btn-save m-1"
            (click)="onEditSubcategory(subcategory.Id)"></button>

          <button pButton icon="pi pi-trash" class="p-button-danger btn-save m-1"
            (click)="onDeleteSubcategory(subcategory.Id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #subCategoryModal let-data>
  <app-insert-or-update-subcategory (closeDialog)="closeModal()" [subCategoryId]="data.id"
    [isEditMode]="data.id > 0"></app-insert-or-update-subcategory>
</ng-template>