<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Notifications</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notification of notifications" (click)="onNotificationClick(notification)" style="cursor: pointer;">
                                <td>{{notification.Title}}</td>
                                <td>{{notification.Message}}</td>
                                <td>{{notification.Status}}</td>
                                <td>{{notification.CreatedAt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>