<app-page-header title="Approval List"> </app-page-header>

<div class="card">
  <p-table
    [value]="aprovals"
    dataKey="Id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem', 'table-layout': 'fixed' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 30%">Title</th>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Submitted By</th>
        <th style="width: 15%">Type</th>
        <th style="width: 20%">Department</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template #body let-approval>
      <tr>
        <td>{{ approval.Papers?.Title }}</td>
        <td>
          <p-badge
            *ngIf="approval?.Status"
            [value]="approval?.Status"
            [severity]="
              approval?.Status === 'Approved'
                ? 'success'
                : approval?.Status === 'Rejected'
                  ? 'danger'
                  : 'warn'
            "
          ></p-badge>
        </td>
        <td>{{ approval.Papers?.Users?.Roles?.Name }}</td>
        <td>{{ approval.Papers?.Category?.Name }}</td>
        <td>{{ approval.Papers?.Department?.Name }}</td>
        <td>
          <button
            pButton
            label="Approve"
            icon="pi pi-verified"
            class="p-button-sm"
            (click)="Approvoe()"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
