<app-page-header title="Papers"> </app-page-header>
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Papers</p-tab>
    <p-tab value="1">Journals</p-tab>

  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="card" id="printSection">
        <p-table #dt2 [value]="papers" dataKey="Id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
          [paginator]="true" [globalFilterFields]="[
      'Title',
      'Category.Name',
      'SubCategory.Name',
      'Department.Name',
      'PaperApprovals.Status',
      'Year',
      'Batches.Name',
    ]" [tableStyle]="{ 'min-width': '75rem', 'table-layout': 'fixed' }">
          <!-- Search -->
          <ng-template #caption>
            <div class="row">
              <!-- Search -->
              <div class="col-auto">
                <p-iconfield iconPosition="left">
                  <p-inputicon>
                    <i class="pi pi-search"></i>
                  </p-inputicon>

                  <input pInputText type="text" [(ngModel)]="searchValue" name="search"
                    (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Search papers"
                    style="width: 250px" />
                </p-iconfield>
              </div>

              <!-- Category Dropdown -->
              <div class="col-auto">
                <p-columnFilter field="Category.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="categories" optionLabel="Name"
                      optionValue="Name" placeholder="Category" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 120px">
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col-auto">
                <p-columnFilter field="SubCategory.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="subCategories" optionLabel="Name"
                      optionValue="Name" placeholder="SubCategory" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 150px">
                      <!-- style="width: 73%" -->
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col-auto">
                <p-columnFilter field="Department.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="departments" optionLabel="Name"
                      optionValue="Name" placeholder="Department" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 120px">
                      <!-- style="width: 74%" -->
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col-auto">
                <p-columnFilter field="Year" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="years" placeholder="Year" [showClear]="true"
                      (onChange)="filter($event.value)" style="width: 98px">
                      <!-- style="width: 94%" -->
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col">
                <p-columnFilter field="Batches.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="batches" optionLabel="Name"
                      optionValue="Name" placeholder="Batch" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 120px">
                      <!-- style="width: 84%" -->
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>

              <!-- Clear Button -->
              <div class="col-auto">
                <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt2)" />
              </div>
            </div>
          </ng-template>

          <!-- Header -->

          <ng-template #header style="margin-top: 10px">
            <!-- Filter Row -->

            <tr style="margin-top: 50px">
              <th style="width: 30%">Title</th>
              <th style="width: 10%">Status</th>
              <th style="width: 10%">Category</th>
              <!-- <th style="width: 10%">Sub Category</th> -->
              <th style="width: 15%">Department</th>
              <th style="width: 5%">Year</th>
              <!-- <th style="width: 5%">Batch</th> -->
              <th style="width: 10%">Action</th>
            </tr>
          </ng-template>
          <ng-template #body let-paper>
            <tr>
              <td>
                <div>
                  <div>{{ paper.Title | truncateText: 50 }}</div>
                  <small style="font-size: 12px; color: rgb(169, 169, 169)" [pTooltip]="paper.Abstract"
                    tooltipPosition="right">
                    {{ paper.Abstract | truncateText: 80 }}
                  </small>
                </div>
              </td>
              <td>
                <p-badge *ngIf="paper.PaperApprovals[0]?.Status" [value]="paper?.PaperApprovals[0]?.Status"
                  [severity]="getSeverity(paper?.PaperApprovals[0]?.Status)">
                </p-badge>
              </td>

              <td>
                <div>
                  <div>{{ paper.Category?.Name | truncateText: 50 }}</div>
                  <small style="font-size: 12px; color: rgb(169, 169, 169)">
                    {{ paper.SubCategory?.Name | truncateText: 30 }}
                  </small>
                </div>
              </td>

              <td>
                <div>
                  <div>{{ paper.Department?.Name | truncateText: 50 }}</div>
                  <small style="font-size: 12px; color: rgb(169, 169, 169)">
                    {{ paper.Batches?.Name | truncateText: 30 }}
                  </small>
                </div>
              </td>

              <td>{{ paper.Year }}</td>
              <td>
                <p-button [outlined]="true" icon="pi pi-eye" label="View" size="small"
                  styleClass="p-button-sm p-button-outlined" (click)="viewPaper(paper.Id)" />
              </td>
            </tr>
          </ng-template>



          <!-- Empty Message -->
          <ng-template #emptymessage>
            <tr>
              <td colspan="6">No papers found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      <div class="card">
        <p-table #dt2 [value]="journal" dataKey="Id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
          [paginator]="true" [globalFilterFields]="['Title', 'Category.Name','SubCategory.Name','Keywords','Year']"
          [tableStyle]="{ 'min-width': '75rem', 'table-layout': 'fixed' }">

          <ng-template #caption>
            <div class="row">

              <!-- Search -->
              <div class="col-auto">
                <p-iconfield iconPosition="left">
                  <p-inputicon>
                    <i class="pi pi-search"></i>
                  </p-inputicon>

                  <input pInputText type="text" [(ngModel)]="searchValue" name="search"
                    (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Search papers"
                    style="width: 250px" />
                </p-iconfield>
              </div>
              <!-- Category Dropdown -->
              <div class="col-auto">
                <p-columnFilter field="Category.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="categories" optionLabel="Name"
                      optionValue="Name" placeholder="Category" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 120px">
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col-auto">
                <p-columnFilter field="SubCategory.Name" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="subCategories" optionLabel="Name"
                      optionValue="Name" placeholder="SubCategory" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 150px">
                      <!-- style="width: 73%" -->
                      <ng-template let-option #item>
                        <span>{{ option.Name }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col-auto">
                <p-columnFilter field="Year" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="years" placeholder="Year" [showClear]="true"
                      (onChange)="filter($event.value)" style="width: 98px">
                      <!-- style="width: 94%" -->
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <div class="col">
                <p-columnFilter field="Keywords" matchMode="equals" [showMenu]="false">
                  <ng-template #filter let-value let-filter="filterCallback">
                    <p-select appendTo="body" [ngModel]="value" [options]="journal" optionLabel="Keywords"
                      optionValue="Keywords" placeholder="Keywords" [showClear]="true" (onChange)="filter($event.value)"
                      style="width: 150px">

                      <ng-template let-option #item>
                        <span>{{ option.Keywords }}</span>
                      </ng-template>
                    </p-select>
                  </ng-template>
                </p-columnFilter>
              </div>
              <!-- Clear Button -->
              <div class="col-auto">
                <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt2)" />
              </div>
            </div>
          </ng-template>

          <!-- Header -->
          <ng-template #header style="margin-top: 10px">
            <tr style="margin-top: 50px">

              <th style="width: 20%">Title</th>
              <th style="width: 12%">Status</th>
              <th style="width: 10%">Category</th>
              <th style="width: 18%">Name</th>
              <th style="width: 10%">Keywords</th>
              <th style="width: 10%">Volume</th>
              <th style="width: 8%">Year</th>
              <th style="width: 10%">Action</th>
            </tr>
          </ng-template>

          <ng-template #body let-journal>
            <tr>
              <td>
                <div>
                  <div>{{ journal.Title | truncateText: 50 }}</div>
                  <small style="font-size: 12px; color: rgb(169, 169, 169)">
                    {{ journal.Abstract | truncateText: 80 }}
                  </small>
                </div>
              </td>
              <td>
                <p-badge *ngIf="journal.PaperApprovals[0]?.Status" [value]="journal?.PaperApprovals[0]?.Status"
                  [severity]="getSeverity(journal?.PaperApprovals[0]?.Status)">
                </p-badge>
              </td>
              <td>
                <div>
                  <div>{{ journal.Category?.Name | truncateText: 50 }}</div>
                  <small style="font-size: 12px; color: rgb(169, 169, 169)">
                    {{ journal.SubCategory?.Name | truncateText: 30 }}
                  </small>
                </div>
              </td>
              <td>
                <div>
                  <div>{{ journal.Name | truncateText: 50 }}</div>
                </div>
              </td>
              <td>
                <div>
                  <div>{{ journal.Keywords | truncateText: 50 }}</div>
                </div>
              </td>
              <td>
                <div>
                  <div>{{ journal.Volume | truncateText: 50 }}</div>
                </div>
              </td>
              <td>
                <div>
                  <div>{{ journal.Year | truncateText: 50 }}</div>
                </div>
              </td>
              <td>
                <p-button [outlined]="true" icon="pi pi-eye" label="View" size="small"
                  styleClass="p-button-sm p-button-outlined" (click)="viewJournal(journal.Id)" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>