:host ::ng-deep .p-datatable table {
  table-layout: fixed;
}

:host ::ng-deep .p-datatable td,
:host ::ng-deep .p-datatable th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host ::ng-deep .p-datatable th .p-select,
:host ::ng-deep .p-datatable th .p-dropdown,
:host ::ng-deep .p-datatable th .p-dropdown-panel,
:host ::ng-deep .p-datatable th .p-overlaypanel {
  overflow: visible;
  z-index: 9999;
}

// :host ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
//   max-width: 1000px !important;
// }

:host ::ng-deep .p-tabpanels {
  padding: 0;
}