<div class="modal-form-container">
  <!-- Header Section -->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="modal-header-section">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <div fxLayout="column">
        <h2 class="header-title">Category</h2>
      </div>
    </div>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-text p-button-secondary"
      (click)="onCancel()"
    ></button>
  </div>
  <form [formGroup]="categoryForm">
    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="row" fxLayoutGap="24px">
        <!-- CategoryName -->
        <div fxLayout="column" fxLayoutGap="8px" fxFlex="1 1 auto">
          <p-floatlabel variant="on" class="float-label-wrapper">
            <input
              pInputText
              id="categoryName"
              formControlName="Name"
              autocomplete="off"
              class="full-width"
            />
            <label for="categoryName" class="field-label"
              >Category Name <span class="required-asterisk">*</span></label
            >
          </p-floatlabel>
          <p-message
            severity="error"
            size="small"
            variant="simple"
            text="Name is required."
            *ngIf="categoryForm.get('Name')?.invalid && categoryForm.get('Name')?.touched"
          >
          </p-message>
        </div>

        <!-- Code -->
        <div fxLayout="column" fxLayoutGap="8px" fxFlex="1 1 auto">
          <p-floatlabel variant="on" class="float-label-wrapper">
            <input
              pInputText
              id="code"
              formControlName="Code"
              autocomplete="off"
              class="full-width"
            />
            <label for="code" class="field-label">
              Code <span class="required-asterisk">*</span></label
            >
          </p-floatlabel>
          <p-message
            severity="error"
            size="small"
            variant="simple"
            text="Code is required."
            *ngIf="categoryForm.get('Code')?.invalid && categoryForm.get('Code')?.touched"
          >
          </p-message>
        </div>
      </div>
    </div>
  </form>

  <!-- Actions -->
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" class="modal-footer-section">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger btn-cancel"
      (click)="onCancel()"
    ></button>
    <button
      pButton
      type="button"
      label="Save Details"
      icon="pi pi-check"
      class="p-button-success btn-save"
      [disabled]="categoryForm.invalid"
      (click)="onSave()"
    ></button>
  </div>
</div>
<!-- 
<p-card header="{{ !isEditMode ? 'Add Category' : 'Edit Category' }}">
  <form [formGroup]="categoryForm">
    <div>
      <p-floatlabel variant="on">
        <input
          id="category-name"
          pInputText
          class="full-width"
          formControlName="Name"
          type="text"
          autocomplete="off"
        />
        <label for="category-name">Category Name</label>
      </p-floatlabel>

      <p-message
        *ngIf="categoryForm.get('Name')?.invalid"
        severity="error"
        size="small"
        variant="simple"
        text="Please enter a valid category name"
      ></p-message>
    </div>

    <div>
      <p-floatlabel variant="on">
        <input
          id="category-code"
          pInputText
          class="full-width"
          formControlName="Code"
          type="text"
          autocomplete="off"
        />
        <label for="category-code">Category Code</label>
      </p-floatlabel>

      <p-message
        *ngIf="categoryForm.get('Code')?.invalid"
        severity="error"
        size="small"
        variant="simple"
        text="Please enter a valid category code"
      ></p-message>
    </div> -->

<!-- main upper part of the form -->

<!-- <div fxLayout="row" style="margin-top: 10px">
      <div fxFlex="13">Status</div>
      <div fxFlex="15">
        <p-toggleswitch formControlName="Status" />
      </div>
      <div fxFlex="20" style="font-weight: 700">
        {{ categoryForm.get('Status')?.value ? 'Active' : 'Inactive' }}
      </div>
    </div> -->

<!-- <p-fileupload
      accept="image/*"
      maxFileSize="1000000"
      mode="advanced"
      (onSelect)="onUpload($event)"
    >
      <ng-template #empty>
        <div>Drag and drop files to here to upload.</div>
      </ng-template>
    </p-fileupload> -->

<!-- <div>
      <p-fileupload
        accept="image/*"
        mode="advanced"
        [auto]="true"
        [customUpload]="true"
        (onSelect)="onUpload($event)"
      >
        <ng-template #empty>
          <div></div>
          <div>Drag and drop files to here to upload.</div>
        </ng-template>
      </p-fileupload>
    </div> -->
<!-- </form> -->

<!-- <ng-template #footer>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
      <p-button
        label="Cancel"
        severity="secondary"
        class="w-full"
        [outlined]="true"
        styleClass="w-full"
        (onClick)="onCancel()"
      />
      <p-button
        label="{{ isEditMode ? 'Update' : 'Save' }}"
        class="w-full"
        styleClass="w-full"
        (onClick)="onSave()"
      />
    </div>
  </ng-template>
</p-card> -->
