.custom-confirm-dialog {
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    background: white;
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    background: #e0f2fe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper i {
    font-size: 2rem;
    color: #0284c7;
}

.custom-confirm-dialog h2 {
    margin-bottom: 1rem;
}

.custom-confirm-dialog p {
    margin-bottom: 1.5rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}


@media print {
    body * {
        visibility: hidden;
    }

    #printSection,
    #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}