<div class="modal-form-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="modal-header-section">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <div fxLayout="column">
        <h2 class="header-title">Approve Paper</h2>
      </div>
    </div>
    <button
      pButton
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-text p-button-secondary"
      (click)="onCancel()"
    ></button>
  </div>

  <form [formGroup]="approveFrom">
    <div fxLayout="column" fxLayoutGap="24px">
      <label><b>Status</b></label>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <div *ngFor="let option of statusOptions">
          <p-radiobutton
            name="Status"
            [value]="option.value"
            [inputId]="option.value"
            formControlName="Status"
          >
          </p-radiobutton>

          <label [for]="option.value" style="margin-left: 8px; cursor: pointer">
            {{ option.label }}
          </label>
        </div>
      </div>

      <label><b>Remarks</b></label>
      <textarea
        pInputTextarea
        rows="4"
        placeholder="Enter remarks"
        style="width: 100%"
        formControlName="Remarks"
      ></textarea>
    </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" class="modal-footer-section">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-danger btn-cancel"
      (click)="onCancel()"
    ></button>
    <button
      pButton
      type="button"
      label="Save Details"
      [icon]="isSaving ? 'pi pi-spinner pi-spin' : 'pi pi-check'"
      class="p-button-success btn-save"
      (click)="onSave()"
      [disabled]="approveFrom.invalid || isSaving"
    ></button>
  </div>
</div>
