<div class="modal-form-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="modal-header-section">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <div fxLayout="column">
        <h2 class="header-title">Approve Paper</h2>
      </div>
    </div>
    <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-secondary"
      (click)="onCancel()"></button>
  </div>

  <form [formGroup]="approveFrom">
    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" fxLayoutGap="8px" fxFlex="1 1 auto">
        <p-floatlabel variant="on" class="float-label-wrapper">
          <p-select id="Status" [options]="statusOptions" formControlName="Status" optionLabel="label"
            optionValue="value" display="chip" [showClear]="true" styleClass="full-width">
            <ng-template let-item pTemplate="item">
              <div class="flex items-center gap-2">
                <span>{{ item?.label }}</span>
              </div>
            </ng-template>
          </p-select>
          <label for="Status" class="field-label"> Status<span class="required-asterisk">*</span> </label>
        </p-floatlabel>
        <small *ngIf="approveFrom.get('Status')?.invalid && approveFrom.get('Status')?.touched" class="error-text">
          Status is required
        </small>
      </div>


      <div fxLayout="column" fxLayoutGap="8px" fxFlex="1 1 auto" *ngIf="showEditorial()">
        <p-floatlabel variant="on" class="float-label-wrapper">
          <p-multiselect id="EditorialId" [options]="editorial" formControlName="EditorialId" optionLabel="Name"
            optionValue="Id" display="chip" [showClear]="true" styleClass="full-width">
            <ng-template let-item pTemplate="item">
              <div class="flex items-center gap-2">
                <img [src]="item?.ImageUrl" class="rounded-image" />

                <span>{{ item?.Name }}</span>
              </div>
            </ng-template>
          </p-multiselect>
          <label for="EditorialId" class="field-label"> Editorial </label>
        </p-floatlabel>
      </div>

      <div fxLayout="column" fxLayoutGap="8px" fxFlex="1 1 auto">
        <p-floatlabel variant="on" class="float-label-wrapper">
          <textarea pInputTextarea id="Remarks" rows="4" placeholder="Enter remarks" style="width: 100%"
            formControlName="Remarks"></textarea>
          <label for="Remarks" class="field-label"> Remarks<span class="required-asterisk">*</span> </label>
        </p-floatlabel>
        <small *ngIf="approveFrom.get('Remarks')?.invalid && approveFrom.get('Remarks')?.touched" class="error-text">
          Remarks is required
        </small>
      </div>

      <div class="card" *ngIf="data?.fromPaperApproval">
        <p-fileupload (onSelect)="onFileSelect($event)" (onClear)="onFileClear()" (onRemove)="onFileRemove($event)"
          [showUploadButton]="false" [multiple]="false" accept=".pdf,image/*" maxFileSize="10000000" mode="advanced">
          <ng-template #empty>
            <div>Drag and drop Remarks files to here to upload.</div>
          </ng-template>
        </p-fileupload>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"
        *ngIf="(data?.JournalId || data?.PaperId) && data?.fromPaperApproval && !isReviewer">
        <label>Check Plagarism with Gemini</label>
        <p-button label="Check Plagarism" icon="pi pi-pencil" class="" (click)="checkPlagarism()"></p-button>
      </div>
    </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" class="modal-footer-section">
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-danger btn-cancel"
      (click)="onCancel()"></button>
    <button pButton type="button" label="Save Details" [icon]="isSaving ? 'pi pi-spinner pi-spin' : 'pi pi-check'"
      class="p-button-success btn-save" (click)="onSave2()" [disabled]="approveFrom.invalid || isSaving"></button>
  </div>
</div>